/[0-9].txt
/[0-9].diff
/tmp/*.dvi
/tmp/*.out
/tmp/*.log
/tmp/*.aux
/testing/*.tex
/testing/*.latex
/bak/*

/docs/cv_*.pdf
/docs/cb_*.pdf
/docs/job_*.pdf
/docs/book_*.pdf
/docs/esl*.pdf
/docs/rs_*.pdf
/docs/tex_*.pdf
/docs/latex_*.pdf
/docs/bible_*.pdf
/[0-9]/
